[Unit]
Description=Bot Discord Zenith
After=network.target

[Service]
Environment=NODE_ENV=production
User=louis
Group=louis
Type=simple
ExecStart=/home/louis/.nvm/versions/node/v20.11.0/bin/node /home/louis/Documents/bot_discord_zenith/src/main.js
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target